/* =================================================================== */
/* 
/*  MedlanesGM v1.0 Media Queries
/*  url:Medlanes.com
/*  16-16-2016
/*
/* =================================================================== */
/*
/*  ------------------------------------------------------------------ 

    TOC: 
    a. Webfonts and Iconfonts
    b. Document Setup
    c. Forms  
    d. Preloader
    e. Buttons
    f. Other Components
    g. Header Styles
    h. Content Styles
    i. Footer Styles
    j. Common and shared styles
    k. Hero Section
    l. Portfolio Section
    m. Services Section
    n. About Section
    p. Contact Section
    q. Blog Entry

/* =================================================================== */
/* 
/* a. Webfonts and Iconfonts
/* =================================================================== */
@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");
/* 
/* b. Document Setup
/* =================================================================== */

/* Body
---------------------------------------------------------------------- */
body {
	background: #fff;
	font: 15px/30px "merriweather-regular", serif;
	font-weight: normal;
	color: #575859;
}

/* Links
---------------------------------------------------------------------- */
a, a:visited {
	color: #f26c4f;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
	color: black;
}

/* Typography
--------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Light", sans-serif;
	color: #1b1f20;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin: 18px 0 15px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
h1 {
	font-size: 46px;
	line-height: 0px;
	margin-top: 0;
	color: #757575;
}
h2 {
	font-size: 26px;
	line-height: 30px;
	font-weight: 500;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 17px;
	line-height: 30px;
}
h5 {
	font-size: 14px;
	line-height: 30px;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h6 {
	font-size: 13px;
	line-height: 30px;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
p {
	margin: 15px 0 15px 0;
	font: 400 13px/22px "Roboto", sans-serif;
	color: #757575;
}
.sideBar li,li {
	margin: 15px 0 15px 0;
	font: 400 13px/22px "Roboto", sans-serif;
	color: #757575;
}
p img {
	margin: 0;
}
p.lead {
	font: 400 17px/33px "Roboto", sans-serif;
	color: #707273;
}
em {
	font: 15px/30px "Roboto", sans-serif;
	font-style: normal;
}
strong, b {
	font: 22px/30px "Roboto Light", sans-serif;
	font-weight: 400;
}
small {
	font-size: 11px;
	line-height: inherit;
}
blockquote {
	margin: 18px 0px;
	padding-left: 40px;
	position: relative;
}
blockquote:before {
	content: "\201C";
	opacity: 0.45;
	font-size: 80px;
	line-height: 0px;
	margin: 0;
	font-family: arial, sans-serif;
	position: absolute;
	top: 30px;
	left: 0;
}
blockquote p {
	font-family: georgia, serif;
	font-style: italic;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
}
blockquote cite {
	display: block;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited {
	color: #707273;
	border: none;
}
abbr {
	font-family: "Roboto", serif;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .5px;
	color: #7d7e80;
}
pre, code {
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
code {
	padding: 3px;
	background: #ecf0f1;
	color: #707273;
	border-radius: 3px;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
mark {
	background: #FFF49B;
	color: #000;
}
hr {
	border: solid white;
	border-width: 1px 0 0;
	clear: both;
	margin: 23px 0 12px;
	height: 0;
}

/* Lists
--------------------------------------------------------------------- */
ul, ol {
	margin-top: 15px;
	margin-bottom: 15px;
}
ul {
	list-style: disc;
	margin-left: 17px;
}
dl {
	margin: 0 0 15px 0;
}
dt {
	margin: 0;
	color: #f26c4f;
}
dd {
	margin: 0 0 0 20px;
}

/* Floated Image
--------------------------------------------------------------------- */
img.pull-right {
	margin: 12px 0px 0px 18px;
}
img.pull-left {
	margin: 12px 18px 0px 0px;
}

/* 
/* c. Forms
/* =================================================================== */
form {
	margin-bottom: 24px;
}
fieldset {
	margin: 0 0 24px 0;
	padding: 0;
	border: none;
}
input, button {
	-webkit-font-smoothing: antialiased;
}
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
textarea, 
select {
	display: block;
	padding: 5px 15px;
	margin: 0 0 12px 0;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: #333333;
	font-family: "raleway-regular", sans-serif;
	font-size: 14px;
	line-height: 24px;
	border-radius: 3px;
	max-width: 100%;
	background: transparent;
	border: 1px solid #a9aaab;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(../images/select-arrow.png) 94% 25px no-repeat #fff!important;
}
select::-ms-expand {
    display: none;
}
textarea {
	min-height: 162px;
}
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
textarea:focus {
	background: white;
}
label, legend {
	font: 15px/30px "Roboto", sans-serif;
	margin: 12px 0;
	color: #252525;
	display: block;
}
label span, legend span {
	color: #575859;
	font: 15px/30px "Roboto", serif;
}
input[type="checkbox"], input[type="radio"] {
	font-size: 15px;
	color: #575859;
}
input[type="checkbox"] {
	display: inline;
}

/* 
/* d. Preloader
/* =================================================================== */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #12151b;
	z-index: 99999;
	height: 100%;
}
.no-js #preloader {
	display: none;
}

#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0;
}
#status img {
	display: none;
}

.loader {
	margin: 0 auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #f26c4f;
	-webkit-animation: load 1.1s infinite linear;
	animation: load 1.1s infinite linear;
}
.loader, .loader:after {
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* for ie8 */
.ie8 #status img {
	display: block;
}
.ie8 .loader {
	display: none;
}


/* 
/* e. Buttons
/* =================================================================== */
.button, 
.button:visited, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
	display: inline-block;
	font: 15px/30px "Roboto", sans-serif;
	padding: 3px 16px;
	margin: 0 3px 6px 0;
	background: #f26c4f;
	color: white;
	text-decoration: none;
	cursor: pointer;
	height: auto;
	text-align: center;
	border: none;
	border-radius: 3px;
	-webkit-appearance: none;
	-webkit-font-smoothing: inherit;	
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.button:hover, 
button:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover {
	background: #cd6c57;
	color: white;
}
.button.primary, button.primary {
	background: #f26c4f;
}
.button.primary:hover, button.primary:hover {
	background: #e3520d;
}
button.medium, .button.medium {
	font: 15px/30px "Roboto", sans-serif;
	padding: 12px 18px !important;
}
button.large, .button.large {
	font: 15px/30px "Roboto", sans-serif;
	padding: 15px 20px !important;
}
button.round, .button.round {
	padding-left: 20px !important;
	padding-right: 20px !important;
	border-radius: 1000px;
	background-clip: padding-box;
}
button.stroke, .button.stroke {
	background: transparent !important;
	border: 3px solid transparent;
}
button.full-width, .button.full-width {
	width: 100%;
	margin-right: 0;
}

.button.pink {
	background: #ffadcb;
}
.button.pink:hover {
	background: #ff94bb;
}
.button.blue {
	background: #72bbf0;
}
.button.blue:hover {
	background: #5bb0ee;
}
.button.black {
	background: #2e3236;
}
.button.black:hover {
	background: #222528;
}
.button.yellow {
	background: #ffd900;
}
.button.yellow:hover {
	background: #f0cc00;
}
.button.red {
	background: #ff6163;
}
.button.red:hover {
	background: #ff474a;
}
.button.green {
	background: #9bc724;
}
.button.green:hover {
	background: #8ab120;
}
.button.grey {
	background: #8d8e91;
}
.button.grey:hover {
	background: #808184;
}
.button.purple {
	background: #b482c9;
}
.button.purple:hover {
	background: #a970c1;
}
.button.orange {
	background: #f5731c;
}
.button.orange:hover {
	background-color: #ed650a;
}
.button.stroke.pink {
	border-color: #ffadcb;
	color: #ffadcb;
}
.button.stroke.pink:hover {
	background: #ffadcb !important;
	color: #fff;
}
.button.stroke.blue {
	border-color: #72bbf0;
	color: #72bbf0;
}
.button.stroke.blue:hover {
	background: #72bbf0 !important;
	color: #fff;
}
.button.stroke.black {
	border-color: #2e3236;
	color: #2e3236;
}
.button.stroke.black:hover {
	background: #2e3236 !important;
	color: #fff;
}
.button.stroke.yellow {
	border-color: #ffd900;
	color: #ffd900;
}
.button.stroke.yellow:hover {
	background: #ffd900 !important;
	color: #fff;
}
.button.stroke.red {
	border-color: #ff6163;
	color: #ff6163;
}
.button.stroke.red:hover {
	background: #ff6163 !important;
	color: #fff;
}
.button.stroke.green {
	border-color: #9bc724;
	color: #9bc724;
}
.button.stroke.green:hover {
	background: #9bc724 !important;
	color: #fff;
}
.button.stroke.grey {
	border-color: #8d8e91;
	color: #8d8e91;
}
.button.stroke.grey:hover {
	background: #8d8e91 !important;
	color: #fff;
}
.button.stroke.purple {
	border-color: #b482c9;
	color: #b482c9;
}
.button.stroke.purple:hover {
	background: #b482c9 !important;
	color: #fff;
}
.button.stroke.orange {
	border-color: #f5731c;
	color: #f5731c;
}
.button.stroke.orange:hover {
	background: #f5731c !important;
	color: #fff;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/* 
/* f. Other Components
/* ================================================================== */

/* Alert Boxes
/* ------------------------------------------------------------------ */
.alert-box {
	padding: 21px 40px 21px 30px;
	position: relative;
	margin-bottom: 24px;
	border-radius: 3px;
	background-clip: padding-box;
	font-family: "Roboto", sans-serif;
}
.error {
	background-color: #ffd1d2;
	color: #e65153;
}
.success {
	background-color: #c8e675;
	color: #758c36;
}
.info {
	background-color: #d7ecfb;
	color: #4a95cc;
}
.notice {
	background-color: #fff099;
	color: #c16527;
}
.close {
	position: absolute;
	right: 18px;
	top: 18px;
	cursor: pointer;
}


/* Drop Cap
/* ------------------------------------------------------------------ */
.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 14px 6px 0 0;
	font-size: 84px;
	font-family: "Roboto", sans-serif;
	line-height: 60px;
	text-indent: 0;
	background: transparent;
	color: inherit;
}

/* Line Definition Style Markup
/* ------------------------------------------------------------------ */
.lining dt, .lining dd {
	display: inline;
	margin: 0;
}
.lining dt + dt:before, .lining dd + dt:before {
	content: "\A";
	white-space: pre;
}
.lining dd + dd:before {
	content: ", ";
}
.lining dd + dd:before {
	content: ", ";
}
.lining dd:before {
	content: ":";
	margin-left: -0.2em;
}

/* Dictionary Definition Style Markup
/* ------------------------------------------------------------------ */
.dictionary-style dt {
	display: inline;
	counter-reset: definitions;
}
.dictionary-style dt + dt:before {
	content: ", ";
	margin-left: -0.2em;
}
.dictionary-style dd {
	display: block;
	counter-increment: definitions;
}
.dictionary-style dd:before {
	content: counter(definitions, decimal) ". ";
}

/* 
/*  Pull Quotes Markup
/*

<aside class="pull-quote">
<blockquote>
<p></p>
</blockquote>
</aside>

/*
/* --------------------------------------------------------------------- */
.pull-quote {
	position: relative;
	padding: 18px 30px 18px 0px;
}
.pull-quote:before, .pull-quote:after {
	height: 1em;
	opacity: 0.45;
	position: absolute;
	font-size: 80px;
	font-family: Arial, Sans-Serif;
}
.pull-quote:before {
	content: "\201C";
	top: 33px;
	left: 0;
}
.pull-quote:after {
	content: '\201D';
	bottom: -33px;
	right: 0;
}
.pull-quote blockquote {
	margin: 0;
}
.pull-quote blockquote:before {
	content: none;
}

/* 
/*  Stats Tab Markup

<ul class="stats-tabs">
<li><a href="#">[value]<em>[name]</em></a></li>
</ul>


/*
/* --------------------------------------------------------------------- */
.stats-tabs {
	padding: 0;
	margin: 24px 0;
}
.stats-tabs li {
	display: inline-block;
	margin: 0 10px 18px 0;
	padding: 0 10px 0 0;
	border-right: 1px solid #ccc;
}
.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}
.stats-tabs li a {
	display: inline-block;
	font-size: 24px;
	font-family: "Roboto", sans-serif;
	border: none;
	color: #252525;
}
.stats-tabs li a:hover {
	color: #f26c4f;
}
.stats-tabs li a em {
	display: block;
	margin: 6px 0 0 0;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	color: #7d7e80;
}

/* Pagination
/* ------------------------------------------------------------------ */
.pagination {
	margin: 30px auto;
	text-align: center;
}
.pagination ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.pagination .page-numbers {
	font: 15px/24px "Roboto", sans-serif;
	display: inline-block;
	padding: 6px 12px;
	height: 36px;
	margin-right: 3px;
	margin-bottom: 6px;
	color: #707273;
	background-color: #dde4e6;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 3px;
	background-clip: padding-box;
}
.pagination .page-numbers:hover {
	background: #94aab0;
	color: white;
}
.pagination .current, .pagination .current:hover {
	background-color: #f26c4f;
	color: white;
}
.pagination .inactive, .pagination .inactive:hover {
	background-color: #ecf0f1;
	color: #a3a4a6;
}

/* 
/* g. Header Styles
/* =================================================================== */
header {
	height: 72px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 990;
	text-align: center;
	background: transparent;
	-moz-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	-webkit-transition: background 0.5s ease-in-out;
	-ms-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
header .logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-right: 15px;
	float: left;
	/* add position relative since z-index only applies to
	elements that have been given an explicit position */
	position: relative;
	z-index: 992;
}
header .logo a {
	display: block;
	margin: 0 20px 0 0;
	padding: 0;
	border: none;
	outline: none;
	font: 25px Roboto, sans-serif;
	text-shadow: none;
	color: #fff;
	width: 240px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../images/logo.png");
	float:left;
	background-si               ze: 99%;
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
	header .logo a {
		background-image: url("../images/logo.png");
		margin-top: 10px;
		/*-webkit-background-size: 126px 12px;
		-moz-background-size: 126px 12px;
		background-size: 126px 12px;*/
	}
}
.opaque {
	background: #0071a3;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap, #nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	font: 11px "Roboto", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: inline-block;
}

/* hide toggle button */
#nav-wrap > a {
	display: none;
}
ul#nav {
	min-height: 72px;
	width: auto; 

	/* left align the menu */
	text-align: left;
}
ul#nav li {
	position: relative;
	list-style: none;
	height: 72px;
	display: inline-block;
}
ul#nav li a {
	display: inline-block;
	padding: 17px 15px;
	font-size: 16px;
	line-height: 38px;
	text-decoration: none;
	color: #a3c1d4;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-transform: none;
	letter-spacing: normal;
}
ul#nav li a:hover {
	color: white;
}
ul#nav li a:active {
	background-color: transparent !important;
}
ul#nav li.current a {
	color: white;
}
ul#nav li a.button {
	border: 2px solid #fff;
	padding: 0 20px;
	background: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
}

/* 
/* h. Content Styles
/* =================================================================== */

#content {
	background: white;
	padding-top: 66px;
	padding-bottom: 102px;
}
#content #main {
	padding-top: 6px;
}
#content #sidebar {
	padding-top: 12px;
	padding-left: 30px;
}


/* sibebar styles
-------------------------------------------------------------------- */
#sidebar h5 {
	font: 14px/24px "Roboto", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0;
}
#sidebar .widget {
	margin-bottom: 15px;
}

/* search */
#sidebar .widget_search {
	padding-top: 0;
	margin-bottom: 24px;
}
#sidebar .widget_search h5 {
	display: none;
}
#sidebar .widget_search form {
	position: relative;
	margin: 0;
}
#sidebar .widget_search .text-search {
	padding-right: 40px;
	width: 100%;
	min-width: 150px;
	border-radius: 3px;
	background: white;
}
#sidebar .widget_search .submit-search {
	display: none;
}

/* link list */
#sidebar .widget_categories ul {
	margin-top: 15px;
	margin-bottom: 18px;
}
#sidebar .link-list {
	padding: 0;
	margin: 15px 10px 24px 0;
	list-style: none;
}
#sidebar .link-list li {
	font: 14px/24px "Roboto", sans-serif;
	padding: 8px 0 8px 3px;
	margin: 0;
}
#sidebar .link-list li a {
	color: #7d7e80;
}
#sidebar .link-list li a:hover {
	color: #f26c4f;
}

/* tag cloud */
#sidebar .tagcloud {
	margin: 18px 0 24px -12px;
	padding: 0;
	font-size: 17px;
}
#sidebar .tagcloud a {
	font: 12px/24px "Roboto", sans-serif !important;
	display: inline-block;
	float: left;
	margin: 0 0 12px 12px;
	padding: 6px 15px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 3px;
	background: #ecf0f1;
	text-decoration: none;
	letter-spacing: .5px;
	color: #707273;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#sidebar .tagcloud a:hover {
	color: white;
	background: #f26c4f;
}

/* photostream */
#sidebar .photostream {
	list-style: none;
	margin: 15px 0 24px -15px;
	padding: 0;
	overflow: hidden;
}
#sidebar .photostream li {
	display: inline-block;
	margin: 0 0 12px 12px;
	padding: 0;
}
#sidebar .photostream li a {
	display: block;
	height: 66px;
	width: 66px;
	background: #fff;
	padding: 9px;
	border: 1px solid #e3e9eb;
	border-radius: 3px;
}
#sidebar .photostream li a img {
	vertical-align: bottom;
}


 
/* i. Footer Styles
/* =================================================================== */
footer {
	padding-top: 42px;
	padding-bottom: 42px;
	font-size: 13px;
	line-height: 24px;
	position: relative;
	color: #fff;
	background: url(../images/footer/footer-bg.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
footer a, footer a:visited {
	color: #fff;
}
footer a:hover, footer a:focus {
	color: white;
}
footer h3 {
	font: 13px/24px "Roboto", sans-serif;
	margin-bottom: 0;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
}
footer p {
	margin: 12px 0;
}

footer .footer-about {
	padding-right: 60px;
}
footer .right-cols .columns {
	width: 50%;
	word-wrap: break-word;
}
footer ul {
	margin: 12px 0;
	padding: 0;
	list-style: none;
}
footer ul li {
	margin: 0;
	padding-left: 0;
	line-height: 24px;
	display: inline-block;
	font: 400 16px Roboto, Arial, Helvetica, sans-serif;
	width: 23%;
	text-align: center;
}
footer ul li a, footer ul li a:visited {
	color: #fff;
}
footer .copyright {
	margin: 0;
	padding: 24px 18px 6px 18px;
	clear: both;
}
footer.sub-footer {
	padding: 0;
	background: none;
}

/* back to top */
footer #go-top {
	position: fixed;
	bottom: 0;
	right: 30px;
	z-index: 900;
	display: none;
}
footer #go-top a {
	display: none;
	padding: 12px 30px;
	background: #f26c4f;
	color: white;
	text-align: center;
	font: 12px/24px "Roboto", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
footer #go-top a span {
	margin-right: 10px;
}
footer #go-top a:hover {
	background: #faec09;
	color: #252525;
}


/* 
/* j. Common and shared styles
/* =================================================================== */

hr {
	border: solid #f26c4f;
	border-width: 3px 0 0;
	width: 90px;
	margin: 11px auto 15px;
	height: 0;
	clear: both;
	text-align: center;
}

/* section head
---------------------------------------------------------------------- */
.section-head {
	text-align: center;
}
.section-head h1 {
	font: 900 47px/24px "Roboto", sans-serif;
	text-transform: none;
	letter-spacing: 2.5px;
	color: #757575;
	margin-bottom: 18px;
}
.section-head h2 {
	color: #1b1f20;
	font-family: "Roboto";
	margin: 50px 0 0 0 ;
	padding: 40px 0;
}
.section-head h1 span {
	color: #f26c4f;
}
.section-head p {
	font: 18px/36px "merriweather-light", sans-serif;
	width: 95%;
	color: #707273;
	margin-left: auto;
	margin-right: auto;
}

/* page title
---------------------------------------------------------------------- */
#page-title {
	background: #12151b url(../images/hero-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	background-size: cover !important;
	padding-top: 108px;
	padding-bottom: 60px;
	text-align: center;
}
#page-title .row {
	max-width: 724px;
}
#page-title h1 {
	font: 54px/1.3 "Roboto", sans-serif;
	color: white;
	letter-spacing: -1px;
	margin-bottom: 0;
	text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);	
}
#page-title h1 span {
	color: #f26c4f;
}
#page-title p {
	color: #cfd9db;
	margin: 0;
	text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

/* entry
---------------------------------------------------------------------- */
.entry {
	padding-bottom: 12px;
	margin-bottom: 24px;
}
.entry header {
	height: auto;
	position: static;
	background: transparent;
	text-align: left;
}
.entry header h1 {	
	font: 30px/36px "Roboto", sans-serif;
	margin-bottom: 6px;
}
.entry header h1 a {
	color: #252525;
}
.entry .entry-meta ul {
	margin: 0 0 6px 3px;
	color: #8f9091;
	line-height: 24px;
}
.entry .entry-meta ul li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 11px;
	letter-spacing: 1px;
	font-family: "raleway-regular", sans-serif;
	text-transform: uppercase;
}
.entry .entry-meta ul li a {
	color: #8f9091;
}
.entry .entry-meta ul .meta-sep {
	margin: 0 5px;
	color: #c0cdd1;
}
.entry .entry-content-media {
	margin: 24px 0 18px;
}

/* pagenav
---------------------------------------------------------------------- */
.pagenav {
	margin: 18px 0 6px;
	padding: 12px 0 0 0;
	font: 15px/30px "raleway-regular", sans-serif;
}
.pagenav a {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
.pagenav a[rel="next"]:after, 
.pagenav a[rel="prev"]:before {
	float: left;
	text-align: center;
	display: inline-block;
	background: transparent;
	color: #f26c4f;
	border-radius: 3px;
	border: 3px solid #f26c4f;
	font-family: 'FontAwesome';
	font-size: 16px;
	padding: 21px 15px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pagenav a[rel="next"]:after {
	content: "\f054";
}
.pagenav a[rel="prev"]:before {
	content: "\f053";
	margin-right: 6px;
}
.pagenav a[rel="next"]:hover:after, .pagenav a[rel="prev"]:hover:before {
	color: white;
	background: #f26c4f;
}
.entries .pagenav {
	margin-top: -18px;
}

/* 
/* k. Hero Section
/* =================================================================== */
#hero {
	background: #12151b url(../images/country/Berlin.jpg) no-repeat center center fixed;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	background-size: cover !important;
	padding-top: 15%;
	padding-bottom: 10%;
	width: 100%;
	height:100vh;
	text-align: center;
	position: relative;
}
#hero {
	padding-top: 12%;
}
.ie8 #hero { background: #12151b; }


#hero.newabout {
	background: #12151b url(../images/about-bg.jpg) no-repeat center top fixed;
}
#hero.doctorpage {
	background: #12151b url(../images/doctor-bg.jpg) no-repeat center top fixed;
}
.polyarrow {
	position: absolute;
	bottom: 50px;
}


#hero.doctorpage h1,
#hero.newabout h1 {
	text-align: center;
	color: #fff;
	position: absolute;
	font-size: 102px;
	top: 50%;
	font-weight: 300;
	width: 100%;
	left:0
}

#hero.doctorpage h1 a,
#hero.newabout h1 a{
	color: #fff;
}

#index-about h1:after {
	bottom: 50%
}
/* Comment Box
/* ------------------------------------------------------------------ */

#comment-box {
	min-width: 234px;
	width: 70%;
	/*min-height: 234px;*/
	height: auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
	margin: 0 auto;
	padding: 10px;
	/*margin-bottom: 65px;*/
	position:relative;
}
#comment-box textarea {
	background: none;
	border: 0;
	width: 100%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	border: 1px solid #a9aaab;
}
#comment-box input[type="submit"] {
	background: #f26c4f;
	padding: 0px 25px;
	font-size: 15px;
	font-weight: 400;
	float: right;
	border: 0;
	line-height: 35px;
}
#comment-box input[type="email"] {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	border: 1px solid #a9aaab;
	width: 60%;
	margin-bottom: 0;
}

/* Flex slider settings
/* ------------------------------------------------------------------ */

.flexslider a:active, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slides li {
	margin: 0;
	padding: 0;
}

/* Necessary Styles */
.flexslider {
	position: relative;
	zoom: 1;
	margin: 0;
	padding: 0;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides > li {
	position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
	zoom: 1;
	position: relative;
}

/* Clearfix for .slides */
.slides:before, .slides:after {
	content: " ";
	display: table;
}
.slides:after {
	clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}

/* Slider Styles */
.slides {
	zoom: 1;
}
.slides > li {
	overflow: hidden;
}

/* hero slider
/* ------------------------------------------------------------------ */
#hero-slider {
	margin: 10% auto 10%;
}
#hero-slider .flex-caption {
	margin: 0 15%;
}
#hero-slider .flex-caption h1 {
	font:32px/1.3 "Roboto", sans-serif;
	color: white;
	margin-bottom: 0px;
	text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
	font-size: 40px;
	text-align: center;
}
#hero-slider .flex-caption h3 {
	font:300 "Roboto", sans-serif;
	font-size: 22px;
	color: #fff;
	text-align: center;
}

#hero-slider .flex-caption b {
	font-weight: 700;

}

#hero-slider .flex-caption h1 span, 
#hero-slider .flex-caption h1 a {
	color: white;
	display: inline-block;
	/*border-bottom: 1px solid #a43b0a;*/
}
#hero-slider .flex-caption h1 span:hover, 
#hero-slider .flex-caption h1 a:hover {
	border-color: #9a9103;
}
#hero-slider h5 { 
	font-size: 16px; 
	color: #fff; 
	text-transform:none; 
	font-weight: 400;
	letter-spacing: normal;
	margin-top: 0;
	text-align: center;
}
#hero .button.stroke{
	margin: 0;
	padding: 9px 20px;
	width: auto;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border: none;
	color: white;
	white-space: nowrap;
	position: absolute;
	bottom: 0;
/*	text-shadow: 0 0px 5px black;
	-webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);*/
}
#hero-slider .flex-caption .button.stroke:hover {
	color: white;
	text-shadow: none;
	background: #d44d0d !important;
}
#hero-slider .flex-caption .button {
	border: 2px solid #fff;
	background: none;
	color: #fff;
}
#hero-slider .flex-caption .orange {
	background: #f84d4c;
	border: 0;
	color: #fff;
	margin-right: 15px;
	margin-top: 15px;
	position: inherit;
}
#hero-slider .flex-caption .button {
	font-size: 18px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0px 45px;
	height: 48px;
	line-height: 48px;
	float: left;
	margin-right: 10px;
}

.ctabutton {
	text-align: center;
	display: inline-block;
}

/* Slider Control Nav */
.hero-content .flex-control-nav {
	width: 80%;
	margin: 0 auto;
	display: block;
	z-index: 889;
	position: relative;
}
.hero-content .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.hero-content .flex-control-paging li a {
	width: 15px;
	height: 15px;
	display: block;
	cursor: pointer;
	border-radius: 100%;
	border: 3px solid white;
	background: transparent;
	box-shadow: none !important;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	-webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.hero-content .flex-control-paging li a:hover {
	border-color: #f26c4f;
}
.hero-content .flex-control-paging li a.flex-active {
	border-color: #f26c4f;
	cursor: default;
}

/* 
/*  m. Services Section
/* =================================================================== */
#services {
	background: #ecf0f1;
	padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;
}
.service-list {
	margin: 10px -22px 0 -22px;
}
.service-list .bgrid {
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0 22px;
}
.service-list .icon-part {
	color: white;
	width: 72px;
	padding: 10px 3px;
	font-size: 40px;
	border-radius: 3px;
	margin: 0 auto;
}
.icon,
.service-list .icon-part .icon-global,
.service-list .icon-part .icon-pay,
.service-list .icon-part .icon-doc-app,
#additional-info .additional-info-header ul li .icon-global,
#additional-info .additional-info-header ul li .icon-pay,
#additional-info .additional-info-header ul li .icon-doc-app,
.icon-part .icon-doc-app { 
	background: #fff url(../images/icons/global.png) no-repeat center top; 
	width: 70px; 
	height: 70px; 
	display:inline-block 
}
.service-list .icon-part .icon-pay,
#additional-info .additional-info-header ul li .icon-pay {
	background: #fff url(../images/icons/credit-card.png) no-repeat; 
}
.service-list .icon-part .icon-doc-app,
#additional-info .additional-info-header ul li .icon-doc-app,
 .icon-part .icon-doc-app {
	background: #fff url(../images/icons/doc-app.png) no-repeat; 
}

.service-list h3 {
	font: 400 20px/20px "Roboto", sans-serif;
	padding: 15px 0;
	color: #1b1f20;
}
.service-list h3 span {
	color: #0071a3;
}
.service-list p {
	color: #1b1f20;
	position: relative;
	top: -6px;
	line-height: 24px;
}
.icon-company {
	background: url(../images/icons/our-company.png) no-repeat;
}
.icon-vision {
	background: url(../images/icons/our-vision.png) no-repeat;
}
.icon-solution {
	background: url(../images/icons/our-solution.png) no-repeat;
}

/* 
/* l. About Section
/* =================================================================== */

#about {
	background: white;
}
.ie #about .row.items {
	width: 1140px;
}
#about .row.items {
	max-width: 1200px;
}
#about .service-list .bgrid img {
	width: 100%;
}
/* Portfolio wrapper */
#about-wrapper {
	margin-top: 36px;
}

/* portfolio items */
.item .item-wrap {
	overflow: hidden;
	position: relative;
}
.item .item-wrap a {
	display: block;
	cursor: pointer;
}
.item .item-wrap .overlay {
	background: #ed560e;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;	
}
.item .item-wrap img {
	vertical-align: bottom;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.item .item-wrap .portfolio-item-meta {
	position: absolute;
	top: 10%;
	left: 10%;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.item .item-wrap .portfolio-item-meta h5 {
	font: 15px/21px "Roboto", sans-serif;
	margin: 0;
	color: white;
	word-wrap: break-word;
}
.item .item-wrap .portfolio-item-meta p {
	font: 14px/18px "raleway-semibold", sans-serif;
	color: #fbcab3;
	margin: 0;
}

/* on item hover */
.item:hover .overlay {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}
.item:hover .portfolio-item-meta {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}
.item:hover .item-wrap img {
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
#about .stroke {

	display:block;
	margin: 0 auto;
	font-weight: 400;
}
#about .scroll-btn {
	margin: 0;
	padding-top: 0px
}
.spacing {
	padding-top: 30px;
}

/* 
/*  n. doctor Section
/* =================================================================== */
#doctors .stroke {

	display:block;
	margin: 0 auto;
	font-weight: 400;
}
#doctors .scroll-btn {
	margin: 0;
	padding-top: 0px
}
#doctors {
	padding-top: 0px;
	padding-bottom: 0;
	background: #0071a3;
}
#doctors .twelve-bg {
	min-height: 395px;
	background: #0071a3 url(../images/doctor-img.jpg) no-repeat left top;
}
#doctors .about-content {
	max-width: 980px;
}
#doctors h2 {
	color: #fff;
}
#doctors h3 {
	font: 26px/36px "Roboto", sans-serif;
	text-transform: none;
	padding: 15px 0 0 25px;
	margin-bottom: 0;
	color: #fff;
}
#doctors p {
	color: #fff;
	line-height: 23px;
	padding-left: 25px;
}
#doctors .left {
	padding-right: 30px;
}
#doctors .right {
	padding-left: 30px;
}

.vielent {
	margin-top: 75px;
	padding: 40px 0;
}
.vielent .tick {
	text-align: right;
}
.vielent .tick img {
	margin-top: 40px;
}
#contact.thankyou-bottom {
	padding-top: 20px;
	padding-bottom: 0;
	position: relative;
}
#contact .thankyouLeft {
	margin-top: 30px;
}
#contact .thankyouLeft p,
#contact .thankyouLeft h3 {
	padding-left: 140px;
}
#contact .thankyouRight img {
	margin-bottom: -10px;
}
/* Team Section
/* -------------------------------------------------------------------- */
#doctors #team {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#doctors #team h1 { color: #fff; }
#team-wrapper {
	margin: 24px -18px 0 -18px;
}
#team-wrapper .bgrid {
	padding: 0 18px;
}
#team-wrapper .member {
	margin-top: 0px;
	margin-bottom: 0px;
}
#team-wrapper .member-header {
	position: relative;
	margin-bottom: 40px;
}
#team-wrapper .member-pic {
	width: 130px;
	height: 130px;
	display: inline-block;
	position: relative;
	top: 12px;
}
#team-wrapper .member-pic img {
	border-radius: 100%;
}
#team-wrapper .member p strong {
	font-size: 20px;
}
#team-wrapper .member p {
	font-size: 16px;
	color: #fff;
	line-height: 24px;
}

/* News Letter
/* -------------------------------------------------------------------- */

#newsLetter {
	background: #0071a3;
	padding: 25px 0;
}
#newsLetter h2{
	padding: 0;
}
#newsLetter h2,
#newsLetter p {
	color: #fff;
	text-align: left;
}
#newsLetter p{
	font-size: 13px;
	margin-left: 0;
	width: 90%;
	line-height: 22px;
}
#newsLetter .input-form input[type="text"] {
	background: #fff;
	width: 62%;
	float: left;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#newsLetter .input-form input{
	float: right;
	width: 30%;
	font-size: 18px;
	border: 2px solid #fff;
	background: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#newsLetter .section-head h2 {
	text-align: center;
	padding: 15px 0;
}
#newsLetter img {
	float: left;
	margin-top: 25px;
}
#newsLetter h2,
#newsLetter p {
	padding-left: 100px;
}
.contactText p {
	line-height: 22px;
}
.contactText p strong {
	font-family: Roboto, Arial;
	font-size: 13px;
	font-weight: 700;
	line-height: 22px;
}
.contactText .orange {
	font-size: 18px;
	font-weight: 400;
}
/* 
/*  p. Contact Section
/* =================================================================== */
#support {
	background: #fff;
	overflow: hidden;
	padding-bottom: 40px;
}

#support .section-head {
	margin-top: 0px;
}
#support .row {
	max-width: 900px;
}
#support h3, #support h5 {
	padding-left: 95px;
	font-weight: 500;
	text-transform:lowercase;
	text-align: left;
}
#support h4 {
	text-align: left;
}
#support p {
	padding: 0px 0;
	text-align: left;
	margin: 0
}
#support h5 {
	color:#9e9e9e;
	font-size: 24px;
}
#support .section-head p {
	font-size: 13px;
	color: #1b1f20;
	line-height: 22px;
}
#support .section-head ul li {
	list-style: none;
	position: relative;
	padding-left: 20px;
}
#support .section-head ul li:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #0071a3;
	top: 10px;
	left: 0;
}
#support .icon-phone, #support .icon-email {
	background:url(../images/icons/phone.png) no-repeat;
	width: 70px;
	height: 70px;
	float: left;
	margin-top: 20px
}
#support .icon-email {
	background:url(../images/icons/email.png) no-repeat;
}

/* messages */
#message-warning, #message-success {
	display: none;
	background: black;
	padding: 24px 24px;
	margin-bottom: 42px;
	border-radius: 3px;
}
#message-warning {
	color: #ff6163;
}
#message-success {
	color: #ffd900;
}
#message-warning i, #message-success i {
	margin-right: 10px;
}
#image-loader {
	display: none;
	text-align: center;
}
#image-loader img {
	height: 44px;
	width: 44px;
}

/* Style Placeholder Text */

::-webkit-input-placeholder {
	color: #a7abaa;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: #a7abaa;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #a7abaa;
}
:-ms-input-placeholder {
	color: #a7abaa;
}
.placeholder {
	color: #a7abaa !important;
}


/* 
/* q. Contact Page
/* =================================================================== */
#contactPage {
	background: #fff;
}
#contactPage #contactContent {
	margin-top: 120px;
}
#contactPage #contactContent .row .nine {
	width: 73%;
}
#contactPage #contactContent .borderRadis{
	border: 1px solid #f5f4f4;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}
#contactPage #contactContent .sideBar {
	padding-top: 15px;
	padding-bottom: 15px;
}
#contactPage #contactContent h2 {
	text-align: left;
	padding: 0 0 20px;
}
#contactPage #contactContent input[type="text"],
#contactPage #contactContent input[type="email"],
#contactPage #contactContent textarea,
#contactPage #contactContent select {
	border: 1px solid #a7abaa;
	border-top: 2px solid #0071a3;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	font-size: 18px;
	margin-bottom: 27px;
}


#contactPage #contactContent input[type="submit"] {
	width: 100%;
	height: 50px;
	font-size: 18px;
	background: #f84d4c;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#contactPage #contactContent .has-error {
	margin-top: 20px;
}
#contactPage #contactContent .has-error .help-block {
	color: #fff;
	background: #ea6b66;
	text-align: left;
	font-family: "Roboto", Arial;
	display: inline-block;
	position: absolute;
	top: -40px;
	padding: 0px 8px;
	left: 20px;
}
#contactPage #contactContent .has-error .help-block:after {
	content: "";
	position: absolute;
	width: 0; 
	height: 0;
	top: 30px;
	left: 48%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ea6b66;
}

#contactPage .logo {
	float: none;
	margin: 15px auto;
}

#contactPage #hero {
	background: none;
}
#contactPage #contactContent .radioInpt {
	margin-bottom: 15px;
}
#contactPage #contactContent .radioInpt label,
#contactPage #contactContent .radioInpt input{
	float: left;
	display: inline-block;
	margin-top: 8px;
}

#contactPage #contactContent .radioInpt label{
	margin: 0 0 0 10px;
	font-size: 18px;
	color: #1b1f20;
	cursor: pointer;
}
#contactPage #contactContent .sideBar h2 {
	font: 600 18px/28px "Roboto", sans-serif;
	margin: 0;
	padding: 2px 0 5px;
}
#contactPage #contactContent .sideBar hr {
	margin: 7px 0;
}
#contactPage #contactContent .sideBar img {
	width: 100%;
}
#contactPage .sideBar p,
#contactPage .sideBar li {
	font-size: 12px;
	margin: 0;
	line-height: 22px;
	color: #1b1f20;
}
#contactPage .sideBar hr {
	border: 1px solid #c9cccb;
	width: 100%;
}

/* 
/* q. Blog Entry
/* =================================================================== */

.entry .tags {
	margin-top: 18px;
	font-family: "Roboto", sans-serif;
	color: #707273;
}
.entry .tags a {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #f26c4f;
}
.entry .tags a:hover {
	color: #12151b;
}

/* comments
-------------------------------------------------------------------- */
#comments {
	padding-top: 12px;
	padding-bottom: 12px;
}
#comments h3 {
	font: 20px/30px "Roboto", sans-serif;
	margin-bottom: 6px;
}
.commentlist {
	margin: 30px 0 54px 0;
	padding: 0;
}
.commentlist > li {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 18px 0 18px 0;
	padding-left: 14%;
}
.commentlist li .avatar {
	position: absolute;
	left: 0px;
	display: block;
	height: 48px;
	width: 48px;
}
.commentlist li .avatar img {
	margin-top: 6px;
	height: 48px;
	width: 48px;
	border-radius: 100%;
}
.commentlist li .comment-info cite {
	font: 14px/30px "Roboto", sans-serif;
	color: #252525;
}
.commentlist li .comment-info .comment-meta {
	font-size: 13px;
	line-height: 24px;
	display: block;
	color: #707273;
}
.commentlist li .comment-info .comment-meta .reply {
	font-family: "Roboto", sans-serif;
}
.commentlist li .comment-info .comment-meta .sep {
	margin: 0 5px;
	color: #7d7e80;
}
.commentlist li .comment-text {
	clear: both;
	margin: 18px 0 0 0;
	padding: 0;
}
.commentlist li ul.children {
	margin: 0;
	padding: 18px 0 0 0;
	list-style: none;
}
.commentlist li ul.children li {
	padding-left: 5%;
	padding-top: 18px;	
}

/* comment form
-------------------------------------------------------------------- */
#comments form {
	margin-top: 36px;
}
#comments form fieldset {
	padding: 0;
}
#comments form label {
	padding-left: 24px;
	width: 41.66667%;
	float: right;
}
#comments form div {
	margin: 12px 0 18px 0;
}
#comments form input, 
#comments form textarea, 
#comments form select {
	width: 58.33333%;
	float: left;
}
#comments form .message label {
	display: none;
}
#comments form textarea {
	width: 100%;
}
#comments form span.required {
	color: #f26c4f;
	font-size: 15px;
}
#comments form button {
	padding-left: 24px;
	padding-right: 24px;
	color: #f26c4f !important;
	border-color: #f26c4f !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
}
#comments form button:hover {
	color: white !important;
	background: #f26c4f !important;
}


/* 
/* r. Portfolio Entry
/* =================================================================== */

.portfolio-content .entry header {
	text-align: center;
}
.portfolio-content .entry .entry-content-media {
	margin: 30px 0 0;
}
.portfolio-content .entry .entry-content-media img {
	margin-bottom: 24px;
}
.portfolio-content .entry .pagenav {
	margin-top: 0;
}
.portfolio-content .entry .pagenav a[rel="next"]:after {
	float: right;
}

/* more projects
/* ------------------------------------------------------------------- */
.more-projects {
	margin-top: 60px;
}
.more-projects h1 {
	font: 30px/36px "Roboto", sans-serif;
	text-align: center;
	margin-bottom: 0;
}
.more-projects .portfolio-wrapper {
	text-align: left;
}

/* 
/* Aditional Info
/* =================================================================== */
#hero.additional-info-wrapper {
	padding: 6% 0;
}

#additional-info {
	max-width: 960px;
	/*min-height: 542px;
	max-height: 620px;*/
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: Roboto, sans-serif;
	overflow: hidden;
	
}
#additional-info p {
	font-size: 16px;
	line-height: 24px;
}
#additional-info p.footer {
	font-size: 13px;
	padding: 0 22% 10px;
	line-height: 16px;
}
#additional-info .additional-info-header ul {
	margin: 0;
}
#additional-info .additional-info-header ul li {
	display: inline-block;
	float: left;
	line-height: 70px;
	width: 33.3333333333%;
	text-align: left;
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	padding-left: 0;
}
#additional-info .additional-info-header ul li a {
	font-size: 14px;
	color: #757575;
	display: block;
}
#additional-info .additional-info-header ul li.active {
	background: #f0f0f0;
}
#additional-info .additional-info-header ul li.confim-step {
	background: #7accc8;
	/*color: #fff;*/
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(122, 204, 200);
    /* RGBa with 0.6 opacity */
    background-color: rgba(122, 204, 200, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#additional-info .additional-info-header ul li:last-child {
	border-right: 0;
}
#additional-info .additional-info-header ul li .icon-global,
#additional-info .additional-info-header ul li .icon-pay,
#additional-info .additional-info-header ul li .icon-doc-app {
	background:url(../images/icons/additional-info-icons.png) no-repeat 0 0;
	width: 43px;
	height: 40px;
	margin-top: 15px;
	float: left;
	margin-left: 80px;
	margin-right: 14px;
}
/*#additional-info .additional-info-header ul li.confim-step .icon-global,
#additional-info .additional-info-header ul li.confim-step .icon-pay,
#additional-info .additional-info-header ul li.confim-step .icon-doc-app {
	background:url(../images/icons/additional-info-icons-confirm.png) no-repeat 0 0;
}*/

#additional-info .additional-info-header ul li .icon-pay {
	background-position: 0 -60px;	
}
#additional-info .additional-info-header ul li .icon-doc-app {
	background-position: 0 -120px;
	margin-left: 50px;
}

#additional-info .additional-info-content {
	margin-top: 32px;
}
.skipAdd {
	margin-top: 30px;
}
#additional-info .continue {
	padding: 0 30px;
	line-height: 40px;
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 25px;
}


.form-vertical {
	width: 100%;
	margin: 0 auto;
	padding: 10px 40px;
}
.form-vertical .form-wrapper {
	width: 100%;
	min-height: 220px;
	margin:10px auto 20px;
}
.form-vertical .form-group {
	width: 80%;
	position: relative;
}
#additional-info .form-vertical .form-group p.error {
	position: absolute;
	font-size: 12px;
	padding: 6px 10px;
	right: 20px;
	z-index: 1;
	top: -10px;
	width: 150px;
	line-height: 16px;
	text-align: left;
}
.form-vertical .form-group label{
	float: left;
	width: 140px;
	height: 30px;
	text-align: left;
	display:table-cell;
	vertical-align: middle;
	color: #757575;
	margin: 2px;
}

.form-vertical .form-group {
	width: 100%;
}
.form-vertical .payment-label label {
	width: 208px;
}
.add-info .form-group label {
	width: 100px;
}
.add-info .other-info label {
	margin: 0;
	text-align: left;
	padding-left: 0px;
}
.add-info .other-info textarea {
	width: 60%;
	margin-left: 5px;
	min-height: 104px;
	float: left;
}
.add-info .other-info .txt-area {
	min-height: 70px;
}

.form-vertical .form-group input[type="text"],
.form-vertical .form-group select {
	float: left;
	border-width: 1px;
	padding: 3px 8px;
	margin-top: 4px;
	width: 201px;
}
.form-vertical a{
	color: #757575;
	padding: 0 15px;
}
img.cards { margin-top:4px; margin-left: 5px; position: absolute; right: 5px ; }

#contact {
	background: #fff;
	padding-bottom: 30px;
}
#contact .form-feilds {
	margin-top: 25px;
	float: left;
}

#contact-form input[type="text"],
#contact-form textarea   {
	width: 90%;
	border: 1px solid #c4c7c6;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 18px;
	margin-bottom: 25px;
}
#contact-form input[type="text"] {
	padding: 0 25px;
	height: 60px;
}

#contact-form .submit {
	width: 90%;
	background: #0071a3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}

#contact-form .orange {
	background: #f84d4c;
}


/* 
/* Confirm
/* =================================================================== */

h1.price {
	font-size: 54px;
	padding: 15px 0;
}
.payment-method {
	width: 100%;
	margin: 0 auto;
}
.payment-method label, .payment-method a {
	display:table-cell;
	float: left;
	vertical-align: middle;
	margin-right: 14px;
}
.payment-method .privacy-policy,
.form-vertical .privacy-policy {
	width: 100%;
	position: relative;
}
.payment-method .privacy-policy p,
.form-vertical .privacy-policy p {
	text-align: left;
	padding-left: 30px;
	font-size: 16px
}
.payment-method .privacy-policy:before,
.form-vertical .privacy-policy:before {
  content: url('../img/icons/lock.png'); /* with class ModalCarrot ??*/
  position: absolute; /*or absolute*/
  z-index: 100000; /*a number that's more than the modal box*/
  left: 0px;
  top: 3px;
}
.payment-method .privacy-policy p a,
.form-vertical .privacy-policy p a  {
	float: none;
	display: inline;
	vertical-align: top;
	text-decoration: underline;
	color: #f5937e;
}
.form-vertical .form-group select {
	width: 92px;
	font-size: 16px;
	padding: 3px 8px;
	margin-right: 5px;
	border: 1px solid #a9aaab;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(../img/icons/down-arrow.png) 92% 15px	 no-repeat #fff!important;
}
.form-vertical .form-group .grey-selector  {
	border-color: #a9aaab;
	background: url(../img/icons/down-arrow-grey.png) 92% 15px	 no-repeat #fff!important;
}
.form-vertical .form-group select.lg-wdt {
	width: 201px;
}
.form-vertical .form-group .cvc {
	border: 1px solid #a9aaab;
	width: 77px;
}
.form-vertical a {
	text-decoration: underline;
}
.form-vertical .checkout,
.payment-continue {
	padding-left: 60px;
	padding-right: 60px;
	right: 50px;
	position: absolute;
	bottom: 0;
}

.card-pay input[type=text] {
	border: 1px solid #f5937e;
}
.form-vertical{ padding-right:0; position: relative; }
#related_bank_content {
	position: relative;
}
#related_bank_content p{ padding-left: 20px;}
#related_bank_content img { margin-top: -10px; margin-right: 60px;}
#related_bank_content #continuePaypal{
	top: 96px;
	height: 43px;
    padding: 0 25px;
}
#related_mobilephone_content input[type="text"] {
	width: 268px;
}

#related_mobilephone_content select {
	width: 131px;
}
.connect-content {
	float: left
}
#show-mesg,
#credit-card-fields {
	display: none;
	color: #f00;
	}
	#show-mesg {
			color: #f00;

	}
/* 
/* Confirm
/* =================================================================== */

.chat-info #additional-info{
	min-height: 450px;
}
.chat-info .chat-icon {
	margin-top: 25px;
	cursor: pointer;
}

/* 
/* Terms, Privacy Conents
/* =================================================================== */

.privacy-info h2{
	margin-top: 35px;
	margin-left: 58px;
}
.privacy-info h4 {
	font-weight: 400;
}

#additional-info .additional-conent {
	min-height:300px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 10px 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

#additional-info .additional-conent p {
	font-size: 14px;
	padding: 0 20px;
	text-align: justify;
}
#additional-info .additional-conent ul {
	width: 450px;
	margin: 30px auto 0;
	list-style: none;
}
#additional-info .additional-conent ul li {
	padding-left: 40px;
	font-size: 16px;
}
#additional-info .additional-conent ul li.contact-phone,
#additional-info .additional-conent ul li.email-add {
	position: relative;
}
#additional-info .additional-conent ul li.contact-phone:before,
#additional-info .additional-conent ul li.email-add:before {
	content: "";
	width: 48px;
	height: 48px;
	opacity: 0.45;
	position: absolute;
	background: url(../images/icons/phonex36.png) no-repeat;
	margin-left: -40px;
}
#additional-info .additional-conent ul li.email-add:before {
	background: url(../images/icons/emailx36.png) no-repeat;
	margin-top: 5px;
}

.contact-us form {
	text-align: left;

}


#additional-info .additional-conent ul li.email-add {
	margin-left: 50px;
}
 .chat-info #additional-info .additional-conent {
	min-height: 8px;
	margin-bottom: 0
}
.chat-info #additional-info .additional-conent h4 {
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 0;
	padding: 0 20%;
}

/*Doctor Content*/
.new-doctor-content .service-content p{
	font-size: 18px;
}
#doctors #team .doctor-content .circle_slider_text_wrapper{
	background: #fff;
	text-align: left;
	
}
#doctors #team .doctor-content .content {
	height: 220px;
	margin-top: 80px;
}
#doctors #team .doctor-content .arrow-left:before {
	content: "";
	background:url(../images/icons/polygon-right.png) no-repeat;
	width: 22px;
	height: 30px;
	position: absolute;
	display: block;
}

#doctors #team .doctor-content .doctor-name {
	height: 50px;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	font-family: Roboto;
	margin-top: -80px;
}
#doctors #team .doctor-content h1 {
	color: #757575;
	text-align: left;
	margin-bottom: 40px;
	padding-left: 35px;
}
#doctors #team .doctor-content p {
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}
#doctors #team .doctor-content ul {
	list-style: none;
	text-align: left;
	margin: 0
}
#doctors #team .doctor-content ul li {
	margin-bottom: 8px;
}
#doctors #team .slider-footer-content {
	border-top: 2px solid #7accc8;
	padding: 30px 0 0;
}
#doctors #team .slider-footer-content p{
	font-size: 24px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	border-bottom: 1px solid #757575;
	padding-bottom: 40px;
	margin-bottom: 60px
	
}
.doctor-content {
	width: 100%;
	max-width: 100%;
}

.content_slider_text_block_wrap .bgrid {
	margin-left: 25px;
	width: 34%;
}
.content_slider_text_block_wrap .bgrid:first-child {
	margin-left:0;
	width: 53%;
}
.content_slider_text_block_wrap .bgrid h3 {
	padding-left: 35px!important;
	text-align: left;
}

#footerthankyou {
	position: fixed;
    bottom: 0%;
    width: 100%;
}